<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eba.prospect.mappers.ProspectMapper">
    <sql id="prospectColumns">p2.id, p2.property_id, p.property_code, p2.prospect_code, p2.prospect_name, p2.interest_type, p2.status</sql>
    <select id="findPage" resultType="com.eba.prospect.dto.ProspectDto">SELECT <include refid="prospectColumns" /> FROM prospect p2 INNER JOIN property p ON p.id = p2.property_id WHERE p2.is_deleted = FALSE <if test="search != null and search != ''">AND (LOWER(p2.prospect_code) LIKE CONCAT('%', LOWER(#{search}), '%') OR LOWER(p2.prospect_name) LIKE CONCAT('%', LOWER(#{search}), '%') OR LOWER(p2.interest_type) LIKE CONCAT('%', LOWER(#{search}), '%') OR LOWER(p2.status) LIKE CONCAT('%', LOWER(#{search}), '%'))</if> ORDER BY p2.id DESC LIMIT #{limit} OFFSET #{offset}</select>
    <select id="count" resultType="long">SELECT COUNT(*) FROM prospect p2 WHERE p2.is_deleted = FALSE <if test="search != null and search != ''">AND (LOWER(p2.prospect_code) LIKE CONCAT('%', LOWER(#{search}), '%') OR LOWER(p2.prospect_name) LIKE CONCAT('%', LOWER(#{search}), '%') OR LOWER(p2.interest_type) LIKE CONCAT('%', LOWER(#{search}), '%') OR LOWER(p2.status) LIKE CONCAT('%', LOWER(#{search}), '%'))</if></select>
    <select id="findById" parameterType="long" resultType="com.eba.prospect.dto.ProspectDto">SELECT <include refid="prospectColumns" /> FROM prospect p2 INNER JOIN property p ON p.id = p2.property_id WHERE p2.id = #{id} AND p2.is_deleted = FALSE</select>
    <select id="findByCode" parameterType="string" resultType="com.eba.prospect.dto.ProspectDto">SELECT <include refid="prospectColumns" /> FROM prospect p2 INNER JOIN property p ON p.id = p2.property_id WHERE p2.prospect_code = #{prospectCode} AND p2.is_deleted = FALSE</select>
    <insert id="insert" parameterType="com.eba.prospect.dto.ProspectUpsertDto">INSERT INTO prospect (tenant_id, property_id, prospect_code, prospect_name, interest_type, status) VALUES (1, #{propertyId}, #{prospectCode}, #{prospectName}, #{interestType}, #{status})</insert>
    <update id="update">UPDATE prospect SET property_id = #{request.propertyId}, prospect_code = #{request.prospectCode}, prospect_name = #{request.prospectName}, interest_type = #{request.interestType}, status = #{request.status}, updated_date = CURRENT_TIMESTAMP WHERE id = #{id} AND is_deleted = FALSE</update>
    <update id="softDelete" parameterType="long">UPDATE prospect SET is_deleted = TRUE, updated_date = CURRENT_TIMESTAMP WHERE id = #{id} AND is_deleted = FALSE</update>
</mapper>
